$baseFontSize : 100px !default;
$mainColor : #80bd01;
$good : $mainColor;
$grey : #999;
$share : #d2ad03;
$job : #5bc0de;
$ask : #e64800;
$top : #ff0000;
$disabled: #e5e5e5;
$barColor: #333;

$contentPadding: 10px;
$headerHeight: 50px;

@function rem($px){
    @return $px / $baseFontSize * 1rem;
}

@mixin border($direction:bottom,$px:1px,$type:solid,$color:#eee){
	border-#{$direction}: $px $type $color;
}

%label{
	content: attr(title);
	margin-right: 10px;
	color: #fff;
	padding: 0 2px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
	font-size: 12px;
	font-weight: 100px;
}
